.devvn_installment_type {
    text-align: center;
}
.devvn_tragop_main {
    overflow: hidden;
    background: #fff;
    padding: 10px 20px;
}
.devvn_tragop_title{
    font-size: 16px;
    color: #333;
    margin: 0 0 10px;
    font-weight: 600;
    display: block;
    text-align: center;
}
#choose_type {
    text-align: center;
    margin: 10px 0 30px 0;
    list-style: none;
    display: inline-block;
}
#choose_type li {
    float: left;
    margin: 0 5px 5px !important;
}
#choose_type li label {
    margin: 0;
}
#choose_type label input[type="radio"] {
    display: none;
}
input {
    border: 1px solid #d9d9d9;
    height: 40px;
    padding: 9px 10px;
    width: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #333;
    margin: 0 0 5px 0;
    display: block;
    background: #fff;
    background-clip: padding-box;
    font-family: 'Arial','Helvetica Neue',Helvetica,Arial,sans-serif;
    vertical-align: baseline;
    box-sizing: border-box;
    box-shadow: none;
}
#choose_type input:checked ~ .type {
    border-color: #ff9c77;
}
#choose_type .type.type-cty {
    background: #fff url(../images/type-1.png) no-repeat 15px center;
}
#choose_type .type {
    font-size: 15px;
    color: #333;
    box-shadow: 0 0 5px 0 rgb(211 211 211 / 80%);
    padding: 10px 50px 10px 70px;
    text-align: left;
    margin: 0;
    -webkit-box-shadow: 0 0 5px 0 rgb(211 211 211 / 80%);
    -moz-box-shadow: 0 0 5px 0 rgba(211, 211, 211, 0.8);
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
}

#choose_type .type small {
    display: block;
    font-size: 13px;
    font-weight: 400;
}

#choose_type .type.type-cc {
    background: #fff url(../images/type-2.png) no-repeat 15px center;
}
#choose_type .type {
    font-size: 15px;
    color: #333;
    box-shadow: 0 0 5px 0 rgb(211 211 211 / 80%);
    padding: 10px 50px 10px 70px;
    text-align: left;
    margin: 0;
    -webkit-box-shadow: 0 0 5px 0 rgb(211 211 211 / 80%);
    -moz-box-shadow: 0 0 5px 0 rgba(211, 211, 211, 0.8);
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
}

.devvn_tragop_main.payon .devvn_installment_payon {
    display: block;
}
.devvn_tragop_wrap * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Arial','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: inherit;
}
.devvn_tragop_box {
    margin: 0 0 10px 0;
}
.devvn_tragop_title {
    font-size: 16px;
    color: #333;
    margin: 0 0 10px;
    font-weight: 600;
    display: block;
}

.list_radio_style {
    margin: 0 -5px;
}
.list_radio_style label {
    font-weight: 400;
    width: 20%;
    padding: 0 5px;
    float: left;
    margin: 0 0 10px;
}
.list_radio_style label input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.list_radio_style label input:checked ~ span {
    color: #fff;
    background: #348ccb;
    border-color: #348ccb;
}
.list_radio_style label input:checked ~ span * {
    color: #fff;
}
.list_radio_style label > span > strong {
    display: block;
}

.devvn_tragop_wrap .payon_label {
    margin: 0 0 10px;
}
.devvn_tragop_wrap .devvn_tragop_title {
    font-size: 16px;
    color: #333;
    margin: 0 0 10px;
    font-weight: 600;
    display: block;
}
.payon_listbank {
    margin-bottom: 20px;
}
.payon_listbank, .payon_cardtype {
    margin: 0 -5px;
    overflow: hidden;
}
.payon_listbank label, .payon_cardtype label {
    width: 16.666%;
    float: left;
    padding: 0 5px;
    margin: 0 0 10px 0;
    cursor: pointer;
}
.payon_listbank input[type="radio"], .payon_cardtype input[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.payon_listbank label span, .payon_cardtype label span {
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    text-align: center;
    height: 48px;
    display: block;
    position: relative;
}
.payon_listbank label span img, .payon_cardtype label span img {
    position: absolute;
    max-width: 89%;
    max-height: 38px;
    height: auto;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%,0);
    -moz-transform: translate3d(-50%, -50%,0);
    -webkit-transform: translate3d(-50%, -50%,0);
}
.payon_card_box {
    margin-bottom: 20px;
}

.devvn_tragop_wrap .devvn_tragop_title {
    font-size: 16px;
    color: #333;
    margin: 0 0 10px;
    font-weight: 600;
    display: block;
}

.payon_listbank, .payon_cardtype {
    margin: 0 -5px;
    overflow: hidden;
}

.payon_listbank label, .payon_cardtype label {
    width: 16.666%;
    float: left;
    padding: 0 5px;
    margin: 0 0 10px 0;
    cursor: pointer;
}

body .devvn_tragop_wrap .payon_listbank input[type="radio"], body .devvn_tragop_wrap .payon_cardtype input[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.payon_cardtype label span {
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    text-align: center;
    height: 48px;
    display: block;
    position: relative;
}
.payon_listbank label span img, .payon_cardtype label span img {
    position: absolute;
    max-width: 89%;
    max-height: 38px;
    height: auto;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%,0);
    -moz-transform: translate3d(-50%, -50%,0);
    -webkit-transform: translate3d(-50%, -50%,0);
}

.payon_cardtype label {
    width: 16.666%;
    float: left;
    padding: 0 5px;
    margin: 0 0 10px 0;
    cursor: pointer;
}

.payon_cardtype input[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.payon_listbank label span, .payon_cardtype label span {
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    text-align: center;
    height: 48px;
    display: block;
    position: relative;
}

.payon_cardtype label span img {
    position: absolute;
    max-width: 89%;
    max-height: 38px;
    height: auto;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%,0);
    -moz-transform: translate3d(-50%, -50%,0);
    -webkit-transform: translate3d(-50%, -50%,0);
}

.devvn_tragop_box {
    margin: 0 0 10px 0;
}

.devvn_tragop_wrap .devvn_tragop_title {
    font-size: 16px;
    color: #333;
    margin: 0 0 10px;
    font-weight: 600;
    display: block;
}
.list_radio_style {
    margin: 0 -5px;
}

.list_radio_style.payon_cycle_wrap > label {
    width: 25%;
    max-width: 93px;
}

.list_radio_style label input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.list_radio_style label > span {
    background-color: #fff;
    transition: all 250ms ease;
    will-change: transition;
    display: block;
    text-align: center;
    cursor: pointer;
    position: relative;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    vertical-align: middle;
    margin: 0 auto;
    padding: 5px 10px;
    height: 60px;
    overflow: hidden;
    box-shadow: 3px 3px 12px -6px rgb(0 0 0 / 20%);
}
.list_radio_style label > span > strong {
    display: block;
}
.devvn_tragop_title {
    text-align: left;
}
/*.devvn_payon_box {*/
/*    padding-top: 180px;*/
/*}*/

.payon_listbank label input:checked ~ span, .payon_cardtype label input:checked ~ span {
    border-color: red;
}
.total_payon_wrap {
    color: red;
    padding-top: 100px;
    padding-bottom: 50px;
}
.total_payon_wrap ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}
.total_payon_wrap ul li {
    width: 33%;
    height: 100px;
    float: left;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    border: 1px solid #ddd;
    border-right: 0;
}
.total_payon_wrap ul li strong {
    display: block;
    background: #ffee5d;
    color: #000;
    padding: 10px;
}

.total_payon_wrap ul li span {
    padding: 10px;
    display: block;
    font-size: 16px;
}
.devvn_tragop_main ul {
    list-style: disc;
}
.devvn_tragop_col1 {
    width: 50%;
    padding-right: 10px;
    float: left;
}
.devvn_tragop_wrap input {
    border: 1px solid #d9d9d9;
    height: 40px;
    padding: 9px 10px;
    width: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #333;
    margin: 0 0 5px 0;
    display: block;
    background: #fff;
    background-clip: padding-box;
    font-family: 'Arial','Helvetica Neue',Helvetica,Arial,sans-serif;
    vertical-align: baseline;
    box-sizing: border-box;
    box-shadow: none;
}
.devvn_tragop_col2 {
    width: 50%;
    padding-left: 10px;
    float: left;
}
#payon_btncomplete, #bank_btncomplete {
    width: 100%;
    max-width: 420px;
    font-weight: 700;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
}
.payon_infor_customer {
    padding-top: 10px;
}

#payon_btncomplete {
    text-align: center;
}
#payon_btncomplete{
    background-image: linear-gradient(-180deg,#f89406 0%,#f76b1c 100%);
    border: 1px solid #d97f00;
    text-transform: uppercase;
    background-image: linear-gradient(-180deg,#f89406 0%,#f76b1c 100%);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #fff;
    display: block;
    padding: 0 10px;
    height: 35px;
    font-size: 14px;
    text-transform: uppercase !important;
    cursor: pointer;
    border: 0;
    line-height: 35px;
    width: 90%;
    margin: 0 auto;
    white-space: nowrap;
    text-align: center;
    text-decoration: none !important;
}

#payon_nonce_button {
    text-align: center;
}

.button-payment{
    padding-top: 150px;
    display: flex;
}

.btn-payment-now{
    margin-right: 20px;
}

.payon-payment-button {
    text-align: center;
    margin-top: 20px;
}
.payment_method_payon input {
    width: 40px;
    height: 20px !important;
    margin-right: 30px;
}
.payment_method_payon_paynow input {
    width: 40px;
    height: 20px !important;
    margin-right: 30px;
}
#loadingCoverDiv {
    position: fixed;
    top: 50%;
    left: 50% !important;
    font-weight: 700;
    text-align: center;
    border: 0;
    padding: 0;
    background-image: url(../images/Loading_icon.gif) !important;
    background-position: calc(50% + 125px) center !important;
    background-repeat: no-repeat !important;
    background: rgba(65, 65, 65, .7);
    width: 100vw;
    height: 100vh;
    background-size: 40px 40px !important;
    transform: translate(-50%, -50%);
    z-index: 99999 !important
}
