@media screen and (min-width: 1140px) {
    .ex_lproducts .products {
        border-left: 1px solid #eee;
    }
}

.main {
    display: block;
}
.products {
    margin: 0 0 1em;
    padding: 0;
    list-style: none outside;
    clear: both;
    border-left: 1px solid #eee;
    background: #fff;
}
.products li {
    list-style: none outside;
}
a {
    text-decoration: none;
    color: #000;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    background-color: transparent;
}
.ex_lpimages {
    height: 205px;
    position: relative;
}

.ex_lpimages > img {
    width: 100%;
    height: auto;
    max-width: 100%;
    -webkit-transition: all ease 300ms;
    transition: all ease 300ms;
}
.ex_p2 .wp-post-image {
    display: block;
    margin: 0px auto;
}

#payment {
    border: 1px dashed #d3d3d3;
    background: #ffffff;
    border-radius: 5px;
    margin-top: 15px;
}

ul.payment_methods {
    text-align: left;
    padding: 1em;
    border-bottom: 1px solid #d3ced2;
    margin: 0;
    list-style: none outside;
}
ul.payment_methods li {
    line-height: 2;
    text-align: left;
    margin: 0;
    font-weight: 400;
}

input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
button, input {
    overflow: visible;
}
label {
    font-weight: 600;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

div.payment_box {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    margin: 1em 0;
    font-size: .92em;
    border-radius: 2px;
    line-height: 1.5;
    background-color: #dfdcde;
    color: #515151;
}

p {
    font-size: 14px;
    line-height: 1.8;
    margin-top: 0;
    margin-bottom: 1rem;
}

.devvn_tragop_wrap {
    max-width: 100%;
}
.wc_payment_methods li {
    display: flex;
    padding-top: 20px;
}

.product-short-content p {
    color: red;
}